<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.DefaultCompany.FinalYear">

    <uses-permission android:name="android.permission.NFC"/>
    <uses-feature android:name="android.hardware.nfc" android:required="true"/>

    <application>
        <activity 
            android:name="com.DefaultCompany.FinalYear.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>